@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --bg-premium: #ffffff;
  --accent-purple: #9333ea;
  --accent-cyan: #06b6d4;
  --dark-surface: #0f172a;
}
